body{
  font-family: arial;
  font: size 14px;
  color: #212529;
  background-color: #f1dca7;

}

header {
  text-align: center;
  color: #212529;
  background-color: #d9ae94;
}

footer {
  background-color: #d9ae94;
  text-align: center;
  color: #212529;
}

.link{
  color:#212529;
  background-color: aqua;
}
#Education{
  color: red;
}