body{
  font-family: arial;
  font: size 14px;
  color: #212529;
  background-color: #f1dca7;

}

header {
  text-align: center;
  color: #212529;
  background-color: #d9ae94;
}

footer {
  background-color: #d9ae94;
  text-align: center;
  color: #212529;
}

.link{
  color:#212529;
}
#Education{
  color:#212529;
}
#Menu{
  background-color:#d9ae94;
  width:150px;
}
h2 {
  font-size: 20px;
  background-color:#d9ae94;
  margin: 10px;
  padding: 10px;
}
h2 {
  border-style: solid;
  border-width: 3px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-color:#212529;
  border-radius: 10px 10px 10px 10px;    
}
