body{
  font-family: sans-serif;
  font: size 14px;
  color: navy;
  background-color: #FCF7F8;

}

header {
  text-align: center;
  color: #ffc;
  background-color: #009;
}

footer {
  background-color: #343330;
  text-align: center;
}
